@import "tailwindcss";

@theme {
  /* COLORS */
  --color-*: initial;
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-white: white;
  --color-black: black;

  --color-border: #373737;
  --color-highlight: #bab6be3a;

  --color-background: black;
  --color-primary: #bab6be;
  --color-primary-foreground: black;
  --color-secondary: #726f76;
  --color-secondary-foreground: black;
  --color-accent: #874295;
  --color-accent-foreground: #bab6be;
  --color-popover: black;
  --color-popover-foreground: #bab6be;
  --color-danger: #e83333;
  --color-danger-foreground: black;

  /* SIZING */
  --spacing-*: initial;
  --spacing-0: 0px;
  --spacing-1: 1px;
  --spacing-2: 0.125rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-28: 1.75rem;
  --spacing-32: 2rem;
  --spacing-40: 2.5rem;
  --spacing-44: 2.75rem;
  --spacing-48: 3rem;
  --spacing-52: 3.25rem;
  --spacing-72: 4.5rem;
  --spacing-136: 8.5rem;
  --spacing-192: 12rem;
  --spacing-288: 18rem;

  /* TYPOGRAPHY */
  --font-*: initial;
  --font-sans: "Metropolis";

  --text-*: initial;
  --text-xs: 0.75rem;
  --text-xs--line-height: 0.75rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 0.875rem;
  --text-base: 1rem;
  --text-base--line-height: 1rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.125rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.25rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 1.5rem;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 1.875rem;
  --text-4xl: 2rem;
  --text-4xl--line-height: 2rem;

  /* BORDER RADIUS */
  --radius-*: initial;
  --radius-none: 0px;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 10px;
  --radius-full: 100%;

  /* ANIMATIONS */

  --animate-pop-in: pop-in 200ms ease-in forwards;

  @keyframes pop-in {
    from {
      opacity: 0;
      transform: scale(0.96);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  --animate-pop-out: pop-out 200ms ease-out;

  @keyframes pop-out {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.96);
    }
  }

  --animate-in: in 150ms ease-in forwards;

  @keyframes in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-out: out 150ms ease-out;

  @keyframes out {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-10px);
    }
  }
}

@layer base {
  button {
    cursor: pointer;
  }

  .lucide {
    stroke-width: 1.5px;
  }
}
