@tailwind base;
@tailwind components;
@tailwind utilities;

.lucide {
  stroke-width: 1.5px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: theme(colors.transparent);
}

::-webkit-scrollbar-thumb {
  background: theme(colors.secondary.DEFAULT);
  border-radius: theme(borderRadius.DEFAULT);
}

::-webkit-scrollbar-thumb:hover {
  background: theme(colors.accent.DEFAULT);
}

.indeterminate {
  animation: indeterminate-animation 2s linear infinite;
}

@keyframes indeterminate-animation {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(400%, 0);
  }
}
