@import "@repo/config-tailwind";

.lucide {
  stroke-width: 1.5px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-transparent);
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: var(--radius-md);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent);
}

.indeterminate {
  animation: indeterminate-animation 2s linear infinite;
}

@keyframes indeterminate-animation {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(400%, 0);
  }
}
