@font-face {
  font-family: Metropolis;
  src: url(Metropolis-Light.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: Metropolis;
  src: url(Metropolis-Medium.woff2) format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: Metropolis;
  src: url(Metropolis-Bold.woff2) format("woff2");
  font-weight: 700;
}
